{% extends 'base.html' %}


{% block title %}
    课程详情
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-10 offset-md-1">
            {% if request.user.is_authenticated %}
                <div class="bg-light rounded  mb-3">
                    <button data-toggle="modal" data-target="#modal-upload-video"
                            class="btn btn-outline-info btn-block border-0">
                        <i class="fa fa-upload"></i> 上传视频
                    </button>
                </div>
            {% endif %}

            <div class="p-3 mb-3 bg-light rounded">
                <div class="d-flex justify-content-md-start align-items-center">
                    <div>
                        <a target="_blank" href="{{ course.img_url }}">
                            <img class="img-warp rounded box-shadow" alt="" src="{{ course.img_url }}?imageView2/1/w/156/h/100/q/75">
                        </a>
                    </div>
                    <div class="ml-3">
                        <h5>
                            <a href="{{ course.get_absolute_url }}" class="card-link">
                                {{ course.title }}
                            </a>
                        </h5>
                        <h6 class="">
                            {{ course.overview }}
                        </h6>
                        <span class="card-link small">
                            {{ course.get_video_count }} 个视频
                        </span>
                        <span class="card-link small">
                            {{ course.view_count }} 浏览量
                        </span>
                        <span class="card-link small">
                            {{ course.created }}
                        </span>
                    </div>
                </div>

            </div>

            <h6 class="mt-4">课程视频</h6>
            {% for video in videos %}
                <hr>
                {% include 'video-item.html' with video=video %}
            {% endfor %}
        </div>
    </div>


    <div class="modal fade bd-example-modal-lg" id="modal-upload-video" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">上传视频</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card border-0">
                <div class="card-body">
                    <div class="card-subtitle">
                         <div class="form-group">
                            <label for="title" class="col-form-label">视频标题</label>
                            <input class="form-control" id="title">
                         </div>
                        <div class="form-group">
                            <label for="overview" class="col-form-label">视频概述</label>
                            <textarea class="form-control" id="overview" rows="4"></textarea>
                         </div>
                         <div class="form-group">
                            <label for="video">视频文件</label>
                            <input type="file" class="form-control-file" id="video" accept="video/*">
                         </div>
                    </div>
                    <button data-cid="{{ course.id }}" class="card-link btn btn-outline-success float-right upload-video">
                        确认上传
                    </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
       $('button.upload-video').click(function () {

            var title = $.trim($('input#title').val());
            var overview = $.trim($('textarea#overview').val());

            if (title === '' || overview === ''){
                tips('标题、概述都不能为空~', 'danger');
                return false;
            }
            var file = $('input#video')[0].files[0];
            console.log(file);
            if (file === undefined){
                tips('视频不能为空~', 'danger');
                return false;
            }

            if (!/\.(mp4|MP4)$/.test(file.name)){
                 tips('请确认选择的是视频类型', 'danger');
                return false;
            }

            var cid = $(this).data('cid');

            $.ajax({
                cache: false,
                type: 'GET',
                url: '/upload/token/',
                success: function (response) {
                    if (response.msg === 'ok'){
                        var username = response.username;
                        var token = response.token;
                        var sort = 'video';
                        var postUrl = '/course/video/upload/';
                        var data = {'title': title, 'overview': overview, 'cid': cid, 'srcUrl': ''};
                        $('#modal-upload-video').hide();
                        // 显示页面加载圈圈
                        pageLoader('show');
                        uploadImageToQiNiu(file, username, token, sort, postUrl, data)
                    } else {
                        tips('上传失败~', 'danger');
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    }
                }
            });

        });
    </script>
{% endblock %}