{% extends 'base.html' %}


{% block title %}
    课程列表
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            {% if request.user.is_authenticated %}
                <div class="bg-light rounded  mb-3">
                    <button data-toggle="modal" data-target="#modal-add-course"
                            class="btn btn-outline-info btn-block border-0">
                        <i class="fa fa-plus"></i> 添加教程
                    </button>
                </div>
            {% endif %}

            <h6 class="">全部教程</h6>

            {% for course in course_list %}
                <hr>
                {% include 'course-item.html' with course=course %}
            {% endfor %}
        </div>

    </div>



    <div class="modal fade bd-example-modal-lg" id="modal-add-course" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">添加教程</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card border-0">
                <div class="card-body">
                    <div class="card-subtitle">
                         <div class="form-group">
                            <label for="title" class="col-form-label">教程标题</label>
                            <input class="form-control" id="title">
                         </div>
                        <div class="form-group">
                            <label for="overview" class="col-form-label">教程概述</label>
                            <textarea class="form-control" id="overview" rows="4"></textarea>
                         </div>
                         <div class="form-group">
                            <label for="img">教程封面图</label>
                            <input type="file" class="form-control-file" id="img" accept="image/*">
                         </div>
                    </div>
                    <button data-sid="" class="card-link btn btn-outline-success float-right add-course">
                        确认添加
                    </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
       $('button.add-course').click(function () {

            var title = $.trim($('input#title').val());
            var overview = $.trim($('textarea#overview').val());
            if (title === '' || overview === ''){
                tips('标题、概述都不能为空~', 'danger');
                return false;
            }
            var file = $('input#img')[0].files[0];
            console.log(file);
            if (file === undefined){
                tips('教程封面图不能为空~', 'danger');
                return false;
            }

            if (!/\.(gif|jpg|jpeg|png|GIF|JPG|PNG)$/.test(file.name)){
                 tips('请确认选择的是图片类型', 'danger');
                return false;
            }

            $.ajax({
                cache: false,
                type: 'GET',
                url: '/upload/token/',
                success: function (response) {
                    if (response.msg === 'ok'){
                        var username = response.username;
                        var token = response.token;
                        var sort = 'courses';
                        var postUrl = '/course/upload/';
                        var data = {'title': title, 'overview': overview, 'srcUrl': ''};
                        $('#modal-add-course').hide();
                        // 显示页面加载圈圈
                        pageLoader('show');
                        uploadImageToQiNiu(file, username, token, sort, postUrl, data)
                    } else {
                        tips('上传失败~', 'danger');
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    }
                }
            });

        });
    </script>
{% endblock %}