{% extends 'base.html' %}

{% load static %}

{% load course_tags %}
{% load banner_tags %}
{% load service_tags %}

{% block title %}
    首页
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-10 offset-md-1">
            {% if request.user.is_authenticated %}
                <div class="bg-light rounded  mb-3">
                    <button data-toggle="modal" data-target="#modal-add-banner"
                            class="btn btn-outline-info btn-block border-0">
                        <i class="fa fa-plus"></i> 添加幻灯片
                    </button>
                </div>
            {% endif %}

            {% get_banners_list as banner_list %}


            {% if banner_list %}
                <div id="banner-list" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    {% for banner in banner_list %}
                        <li data-target="#banner-list"  data-slide-to="0" class="{% if forloop.first %}active{% endif %}"></li>
                    {% endfor %}
                  </ol>
                  <div class="carousel-inner box-shadow rounded">
                    {% for banner in banner_list %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <a target="_blank" href="{{ banner.img_url }}">
                                <img class="d-block w-100"  src="{{ banner.img_url }}?imageView2/1/w/1150/h/400/q/75" alt="First slide">
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                                <h1>{{ banner.title }}</h1>
                            </div>
                        </div>
                    {% endfor %}
                  </div>
                  <a class="carousel-control-prev" href="#banner-list" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#banner-list" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            {% endif %}


            <h6 class="mt-4">
                热门服务
                <a class="badge badge-light text-danger card-link float-right" href="{% url 'services:service-list' %}">全部服务</a>
            </h6>
            {% get_hot_service_list as service_list %}
            {% for service in service_list %}
                <hr>
                {% include 'service-item.html' with service=service %}
            {% endfor %}


            <h6 class="mt-5">
                热门教程
                <a class="badge badge-light text-danger card-link float-right" href="{% url 'courses:course-list' %}">全部教程</a>
            </h6>
            {% get_hot_course as course_list %}
            {% for course in course_list %}
                <hr>
                {% include 'course-item.html' with course=course %}
            {% endfor %}


            <div class="modal fade bd-example-modal-lg" id="modal-add-banner" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">添加幻灯片</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="card-subtitle">
                                 <div class="form-group">
                                    <label for="title" class="col-form-label">幻灯片标题</label>
                                    <input class="form-control" id="title">
                                 </div>
                                 <div class="form-group">
                                    <label for="img">图片</label>
                                    <input type="file" class="form-control-file" id="img" accept="image/*">
                                 </div>
                            </div>
                            <button data-sid="" class="card-link btn btn-outline-success float-right add-banner">
                                确认添加
                            </button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block js %}
    <script type="text/javascript">
       $('button.add-banner').click(function () {

            var title = $.trim($('input#title').val());
            if (title === ''){
                tips('标题不能为空~', 'danger');
                return false;
            }
            var file = $('input#img')[0].files[0];
            console.log(file);
            if (file === undefined){
                tips('图片不能为空~', 'danger');
                return false;
            }

            if (!/\.(gif|jpg|jpeg|png|GIF|JPG|PNG)$/.test(file.name)){
                 tips('请确认选择的是图片类型', 'danger');
                return false;
            }

            $.ajax({
                cache: false,
                type: 'GET',
                url: '/upload/token/',
                success: function (response) {
                    if (response.msg === 'ok'){
                        var username = response.username;
                        var token = response.token;
                        var sort = 'banners';
                        var postUrl = '/banner/upload/';
                        var data = {'title': title, 'srcUrl': ''};
                        $('#modal-add-banner').hide();
                        // 显示页面加载圈圈
                        pageLoader('show');
                        uploadImageToQiNiu(file, username, token, sort, postUrl, data)
                    } else {
                        tips('上传失败~', 'danger');
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    }
                }
            });

        });
    </script>
{% endblock %}


