{% extends 'base.html' %}

{% load static %}

{% load course_tags %}
{% load banner_tags %}
{% load service_tags %}

{% block title %}
    首页
{% endblock %}


{% block content %}

    {% if request.user.is_authenticated %}
        <div class="bg-white rounded box-shadow mb-3">
            <button data-toggle="modal" data-target="#modal-add-banner"
                    class="btn btn-outline-info btn-block border-0">
                <i class="fa fa-plus"></i> 添加幻灯片
            </button>
        </div>
    {% endif %}

    {% get_banners_list as banner_list %}


    {% if banner_list %}
        <div id="banner-list" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            {% for banner in banner_list %}
                <li data-target="#banner-list"  data-slide-to="0" class="{% if forloop.first %}active{% endif %}"></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner bg-white box-shadow">
            {% for banner in banner_list %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <img class="d-block w-100" style="height:400px" src="{{ banner.img_url }}" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>{{ banner.title }}</h1>
                    </div>
                </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#banner-list" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#banner-list" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    {% endif %}

    {% get_hot_service_list as service_list %}

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">我们的服务</h6>
        <div class="row">
            {% for service in service_list %}
                <div class="col-md-4">
                   <div class="card mt-3">
                       <img class="card-img-top" style="height: 200px" src="{{ service.img_url }}" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title text-truncate">{{ service.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">价格: {{ service.price }} 元</h6>
                        <p class="card-text text-truncate">{{ service.overview }}</p>
                        <button data-toggle="modal"
                                data-target="#orders-modal"
                                data-sid="{{ service.id }}"
                                data-title="{{ service.title }}"
                                class="btn btn-outline-danger btn-sm card-link">立即下单</button>
                        <a role="button" href="{{ service.get_absolute_url }}" class="btn btn-outline-success btn-sm card-link">查看详情</a>
                      </div>
                   </div>
                </div>
            {% empty %}
                <h5 class="mt-3 pl-3 text-danger">暂时无内容</h5>
            {% endfor %}
        </div>
        <small class="d-block text-right mt-3">
          <a href="{% url 'services:service-list' %}">全部服务</a>
        </small>
    </div>

    {% get_hot_video as video_list %}

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">热门教程</h6>
        {% for video in video_list %}
            <div class="media text-muted pt-2">
              <div class="media-body pb-2 mb-0 lh-125 border-bottom border-gray">
                  <a href="{{ video.get_absolute_url }}" class="list-group-item list-group-item-action p-2 border-0">
                      <i class="fa fa-play-circle-o text-danger" aria-hidden="true"></i>
                      <span class="ml-1 text-truncate">{{ video.title }}</span>
                      <span class="float-right small text-muted">播放量: {{ video.view_count }}</span>
                  </a>
               </div>
            </div>
        {% empty %}
            <h5 class="mt-3 text-danger ">暂时无内容</h5>
        {% endfor %}
        <small class="d-block text-right mt-3">
          <a href="{% url 'courses:course-list' %}">全部教程</a>
        </small>
    </div>

    <div class="modal fade bd-example-modal-lg" id="modal-add-banner" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">添加幻灯片</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card border-0">
                <div class="card-body">
                    <div class="card-subtitle">
                         <div class="form-group">
                            <label for="title" class="col-form-label">幻灯片标题</label>
                            <input class="form-control" id="title">
                         </div>
                         <div class="form-group">
                            <label for="img">图片</label>
                            <input type="file" class="form-control-file" id="img" accept="image/*">
                         </div>
                    </div>
                    <button data-sid="" class="card-link btn btn-outline-success float-right add-banner">
                        确认添加
                    </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">
       $('button.add-banner').click(function () {

            var title = $.trim($('input#title').val());
            if (title === ''){
                tips('标题不能为空~', 'danger');
                return false;
            }
            var file = $('input#img')[0].files[0];
            console.log(file);
            if (file === undefined){
                tips('图片不能为空~', 'danger');
                return false;
            }

            if (!/\.(gif|jpg|jpeg|png|GIF|JPG|PNG)$/.test(file.name)){
                 tips('请确认选择的是图片类型', 'danger');
                return false;
            }

            $.ajax({
                cache: false,
                type: 'GET',
                url: '/upload/token/',
                success: function (response) {
                    if (response.msg === 'ok'){
                        var username = response.username;
                        var token = response.token;
                        var sort = 'banners';
                        var postUrl = '/banner/upload/';
                        var data = {'title': title, 'srcUrl': ''};
                        $('#modal-add-banner').hide();
                        // 显示页面加载圈圈
                        pageLoader('show');
                        uploadImageToQiNiu(file, username, token, sort, postUrl, data)
                    } else {
                        tips('上传失败~', 'danger');
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    }
                }
            });

        });
    </script>
{% endblock %}


