{% extends 'base.html' %}

{% load static %}

{% block title %}
    视频详情
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'courses:course-list' %}">教程列表</a></li>
                  <li class="breadcrumb-item"><a href="{{ video.course.get_absolute_url }}">{{ video.course }}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ video }}</li>
              </ol>
            </nav>

            <div class="bg-white rounded box-shadow">
                <div id="mse"></div>
            </div>


           {% if video.overview %}
                <div class="my-3 p-3 bg-white rounded box-shadow">
                    <h6 class="border-bottom border-gray pb-2 mb-0">视频概述</h6>
                    <p class="mt-2">
                        {{ video.overview }}
                    </p>
                </div>
           {% endif %}
        </div>
        <div class="col-md-3">

                <h6 class="border-bottom border-gray pb-2 mb-0">播放列表</h6>
                {% for course_video in video.course.video_set.all %}
                    <div class="media text-muted pt-2 bg-light">
                      <div class="media-body pb-2 mb-0 lh-125 border-bottom border-gray">
                          <a href="{{ course_video.get_absolute_url }}"
                             class="list-group-item list-group-item-action bg-light
                              {% ifequal video.id course_video.id %}
                                text-danger
                              {% endifequal %}
                              p-2 border-0">
                              <i class="fa fa-play-circle-o text-danger" aria-hidden="true"></i>
                              <span class="ml-1 text-truncate">{{ course_video.title }}</span>
                          </a>
                       </div>
                    </div>
                {% endfor %}

        </div>

    </div>

{% endblock %}


{% block js %}
    <script src="{% static 'xgvideo/index.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap-notify.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        var player = new Player({
            el:document.querySelector('#mse'),
            url: '{{ video.url }}',
            fluid: true,
            keyShortcut: 'off',
            controlsList: ['nodownload','nofullscreen'],
        });

        $('#playerControlBtn').remove();

    </script>

{% endblock %}